*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

/* love and connection color- palette 
background: #FFF1E6
header: #F4C2C2
button-background: #C44569
text: #6D1E2C
*/

:root {
    --background-color: #FFF1E6;
    --header-background-color: #F4C2C2;
    --header-text: #6D1E2C;
    --button-background-color: #C44569;
    --button-text-color:#F4C2C2;
    --quote-color: #6D1E2C;
}

body{
    margin: 2%;
    background-color: var(--background-color);
    color:var(--quote-color) ;
}

div.container{
    display:flex;
    flex-direction: column;
}

header{
    flex: 1;
    font-size: 64px;
    text-align: center;
    padding: 40px;
    color: var(--header-text);
    background-color: var(--header-background-color);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    border-radius: 20px;
}

div.dropdown{
    flex:1;
    padding-top: 20px;
    margin-right: 15px;
    align-self:flex-end;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

select{
    padding: 5px 10px;
    background-color: var(--button-background-color);
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    border-radius: 10px;
    color: var(--background-color);
    cursor: pointer;
}

select option:checked{
    background-color: var(--button-background-color)  ;
    color: var(--quote-color);
}

div.button_container {
    flex: 1;
    display: flex;
    margin: auto;
    gap: 5%;
}

button.bottom_nav_buttons{
    flex: 1;
    padding: 20px 45px;
    color: var(--button-text-color) ;
    background-color: var(--button-background-color);
    border-radius: 49px;
    border: 0px;
    font-size: 36px;
}

div.quote_content{
    flex: 1;
    margin: 5% 15%;
    margin-top: 1%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-size: 32px;

}

