*{
    margin: 0px;
    padding: 0px;
    border: 1px solid red;
}

/* love and connection color- palette 
background: #FFF1E6
header: #F4C2C2
button-background: #C44569
text: #6D1E2C
*/

:root {
    --background-color: #FFF1E6;
    --header-background-color: #F4C2C2;
    --header-text: #6D1E2C;
    --button-background-color: #C44569;
    --button-text-color:#F4C2C2;
    --quote-color: #6D1E2C;
}

body{
    background-color: var(--background-color);
    color:var(--quote-color) ;
}

div.container{
    display:flex;
    min-height: 95vh;
    min-width: 330px;
    flex-direction: column;
    justify-content: center;
}

header{
    margin: 1%;
    /* flex: 1; */
    font-size: 64px;
    text-align: center;
    padding: 40px;
    color: var(--header-text);
    background-color: var(--header-background-color);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    border-radius: 20px;
}

div.dropdown{
    /* flex:1; */
    padding-top: 20px;
    margin-right: 15px;
    align-self:flex-end;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}

select{
    padding: 5px 10px;
    background-color: var(--button-background-color);
    font-family: "Lato", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    border-radius: 10px;
    color: var(--background-color);
    cursor: pointer;
    border: 0px;
}

select option:checked{
    background-color: var(--button-background-color)  ;
    color: var(--quote-color);
}

div.button_container_container{
    /* flex: 1; */
    display: flex;
    margin: auto 50% ;
    justify-content: center;
}
div.button_container {
    flex: 1;
    height: 5%;
    /* width: 100%; */
    display: flex;
    /* gap: 5%; */
}

button.bottom_nav_buttons{
    flex: 1;
    padding: 20px 45px;
    color: var(--button-text-color) ;
    background-color: var(--button-background-color);
    border-radius: 49px;
    border: 0px;
    font-size: 36px;
    margin: 10px 25px;
}

button.bottom_nav_buttons:hover{
    opacity: 90%;
}

div.quote_content{
    display: flex;
    height: 80%;
    width: 50%;
    align-self: center;
    flex-direction: column;
    flex: 1;
    margin: 1% 15%;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
    font-size: 32px;
    overflow: auto;
    min-height: 0;
}

div.quote_content .reference{
    flex: 1;
    align-self: flex-end;
}

div.dropdown .font_change{
    padding: 10px 25px;
    color: var(--button-text-color);
    background-color: var(--button-background-color);
    border-radius: 100%;
    border: 0px;
    font-size: 15px;
}


@media (max-width:750px) {
    
    header {
            margin: 0;
            font-size: 30px;
            text-align: center;
            padding: 40px;
            color: var(--header-text);
            background-color: var(--header-background-color);
            font-family: "Lato", sans-serif;
            font-weight: 400;
            border-radius: 0px;
            font-style: italic;
    }

    div.dropdown {
        align-self:center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 10px;
        margin-right: 5px;
        font-weight: 300;
        font-style: normal;
        font-size: 15px;
    }

        select {
            padding: 5px 10px;
            background-color: var(--button-background-color);
            font-family: "Lato", sans-serif;
            font-weight: 200;
            font-style: normal;
            font-size: 15px;
            border-radius: 5px;
            color: var(--background-color);
            cursor: pointer;
            border: 0px;
        }

    #label_category{
        display: none !important;
    }

    #label_fontsize{
        display: none !important;
    }

        div.button_container_container {
            height: 100px;
            width: 100%;
            flex-grow: 0;
            flex-shrink: 1;
            align-self: center;
            flex-direction: column;
            align-items: center;
            display: flex;
        }
    div.button_container {
    width: 100%;
            display: flex; 
            flex-shrink: 1;
            justify-content: space-around;
        }
    button.bottom_nav_buttons {
            flex: 0;
            flex-shrink: 1;
            padding: 0px 30px;
            /* width: auto; */
            margin: 10px 10px;
            color: var(--button-text-color);
            background-color: var(--button-background-color);
            border-radius: 8px;
            border: 0px;
            font-size: 50px;
            font-weight: 900;
        }
        div.quote_content {
            display: flex;
            height: 80%;
            width: 50%;
            align-self: center;
            flex-direction: column;
            flex: 1;
            margin: 5% 15%;
            font-family: "Playfair Display", serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: italic;
            font-size: 20px;
            overflow: auto;
            min-height: 0;
        }

        div.dropdown .font_change {
            padding: 5px 15px;
            color: var(--button-text-color);
            background-color: var(--button-background-color);
            border-radius: 50%;
            border: 0px;
            font-size: 10px;
        }
}